{{outlet}}

<nav id="homeNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe Filter</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="" target="_blank">Home</a></li>
        <li><a href="" target="_blank">Sign Up</a></li>
        <li><a href="" target="_blank">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>What's Cooking?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut laborum est tempore at dolores assumenda, neque sapiente qui, vel quae saepe! Mollitia cumque sequi quis quibusdam, non esse autem blanditiis.</a></p><br>

   <form class="navbar-form">
      <div class="form-group" style="display:inline;">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" name="search" placeholder="Search for a recipe..." autofocus="autofocus">
        </div>
      </div>
    </form>

  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <footer>
        <p>&copy; UP Center for Student Innovations</p>
      </footer>
    </div>
  </div>
</div>
