<!-- Navbar -->
<nav id="homeNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe Filter</a>
    </div>

    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Search for recipes..." autofocus="autofocus">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </form>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" target="_blank" data-toggle="modal" data-target="#signUp">Sign Up</a></li>
        <li><a href="" target="_blank" data-toggle="modal" data-target="#login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
