<div class="jumbotron">
  <h1>What's Cooking?</h1>
  <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut laborum est tempore at dolores assumenda, neque sapiente qui, vel quae saepe! Mollitia cumque sequi quis quibusdam, non esse autem blanditiis.</small></h3>
  <br>

  <!-- Search -->
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" name="search" placeholder="Search for a recipe..." autofocus="autofocus">
  </div>
</div>
