<div class="jumbotron">
  <div class="row">
    <h3>Sample Recipe</h3>
    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#title">Edit Title</button>
    <br>
    <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eaque commodi magnam dolore dolor hic et deserunt vero, odio dicta iste ea adipisci perspiciatis necessitatibus reiciendis cupiditate possimus porro, assumenda.</small></h3>
    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#description">Edit Description</button>
    <br><br>
  </div>

  <div class="row">
    <h4>Ingredients</h4>
      <ul>
        <li>Sugar</li>
        <li>Spice</li>
        <li>Everything Nice</li>
      </ul>
    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ingredients">Edit Ingredients</button>
    <br><br>
  </div>

  <div class="row">
    <h4>Procedure</h4>
      <ol>
        <li>Suspendisse aliquet ullamcorper cursus. Maecenas finibus enim non facilisis rhoncus. Morbi luctus, purus vel pellentesque mollis, erat nisl lobortis dui, nec elementum dui magna a ante. Duis sagittis mi sem, ultrices fermentum orci efficitur vitae. Sed efficitur bibendum orci sit amet ullamcorper. Nullam ornare porttitor tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</li>
        <li>Quisque molestie massa a euismod hendrerit. Vestibulum laoreet aliquet elit a rutrum. Suspendisse varius justo vel ipsum fermentum fringilla. Suspendisse potenti. Suspendisse eget nunc et felis accumsan vehicula eu ac tellus. Vestibulum facilisis ipsum accumsan justo tempor, vel ultricies arcu accumsan.</li>
        <li>Aliquam a dui pretium sem bibendum malesuada. Nam gravida bibendum odio ut gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
        <li>Donec neque lorem, luctus vel neque vel, dictum placerat erat. Vivamus a lorem purus. Maecenas sit amet tincidunt sapien, ac malesuada purus. Maecenas vitae lorem leo. Maecenas pulvinar sodales blandit.</li>
        <li>Nullam ultrices ipsum neque. Nunc in posuere nunc, at accumsan risus.</li>
      </ol>

      {{input type="text" placeholder="Add step."}}
      <br><br>


    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#procedure">Edit Procedure</button>
    <br><br>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete">Delete Recipe</button>
  </div>
</div>
